body{
background-color:#e0e0d2;
}

p{
font-size:20px;
font-family:"Arial";
color:#4d1f00;
}

section{
background-color:#fff0b3;
width:100%;
}

article{
width:100%;
}

img{
height:30%;
width:25%;
border: 1px solid #000000;
border-radius:30px;
}

.Test1{
background-color:#e6f3ff;
}

.Test2{
background-color:#daffb3;
}

