body{
background-color:#b7b7b7;
}

p{
font-size:2em;
font-family:"Arial";
}

section{
background-color:#a56504;
widows:100%;
}

article{
widows:100%;
}

img{
    height:30%;
    width:25%;
    border:1px solid:#a56504;
    border radius:10px;
}

.Test{
    background-color:#ffbf80
}

