body{
background-color:#778899;
}

header{
    width:113%;
    font-family:serif;
    padding:5px;
    margin-bottom:200px;
    margin-top:50px;
    position:relative;
    z-index:3;
}

nav{
    float:left;
    background-color:#ffc0cb;
    width:20%;
}

.Tiere{
    font-size:50pt;
    color:#b200b2;
    list-style-type:none;
    margin:30px;
    text-align:center;
    float:left;
    overflow:hidden;
    margin-top:60px;
}

.Tiere:hover{
    font-size:50pt;
    color:#b200b2;
    list-style-type:none;
    margin:30px;
    text-align:center;
    float:left;
    margin-top:60px;
}

.Menü{
    font-size:80pt;
    color:#b200b2;
    list-style-type:none;
    margin:30px;
    float:left;
    text-align:center;
}

nav:hover{
    width:100%;
}

aside{
    font-size:20pt;
    width:24%;
    height:100%;
    border:solid #000000 5px;
    margin:10px;
    float:left;
    position:absolute;
    top:400px;
    padding:5px;
    z-index:2;
}

aside h2{
    font-size:40pt;
    text-align:left;
}

aside:hover{
    width:25%;
    text-align:center;
}

h1{
    font-family:"Segoe Print", "Lucida Handwriting", Arial;
    font-size:40pt;
    color:#add8e6;
    display: flex; 
    justify-content: center; 
}

main{
    float:right;
    width:70%;
    z-index:1;
}

main > div:nth-child(5n+1){
    clear:left;
}

.Box{
    font-family:"Segoe Print", "Lucida Handwriting", Arial;
    width:23%;
    height:410px;
    background-color:#ffc0cb;
    color:#b200b2;
    float:left;
    margin:10px;
    padding:7px;
    font-size:12pt;
    overflow:scroll;
}

.Boxbild{
    width:20%;
    height:400px;
    background-color:#add8e6;
    float:left;
    margin:10px;
    padding:1%;
}

img{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.Button{
   text-align:center;
}

button{ 
    font-size:15pt;
    background-color:#add8e6;
    color:#b300b3;
    border-radius:10px;
}

button:hover{
    color:#ffc0cb;
} 

footer{
    font-family:"Lucida Handwriting","Bradley Hand ITC", Arial;
    font-size:30pt;
    width:100%;
    font-family:serif;
    position:relative;
    margin-top:1450px;
    margin-left:12px;
    border-top-style:dotted;
    border-top-color:#b300b3;
    border-top-width:10px;
    background-color:#ffc0cb;
    padding:10pt;
    right:20px;
}

.Jacky{
    font-family:"Lucida Handwriting","Bradley Hand ITC", Arial;
    font-size:30pt;
    color:#b300b3;
}