body{
background-color:#778899;
}

header{
    width:113%;
    height:40%;
    font-family:serif;
    padding:5px;
    text-align:center;
    margin-bottom:200px;
    margin-top:50px;
    position:relative;
    right:210px;
}

li{
    font-size:35pt;
    float:left;
    position:relative;
    left:500px;
    color:#0000ff;
    text-decoration:underline;
    list-style-type:none;
    text-align: center;
    margin:30px;
}

.Angeklickt {
    color:#ffffff;
    text-decoration:none;
}

aside{
    width:24%;
    height:100%;
    border:solid #000000 5px;
    margin:10px;
    float:left;
    position:absolute;
    top:350px;
    padding:5px;
}

aside h3{
    text-align:center;
    font-size:18pt;
}

aside h2{
    font-size:40pt;
    text-align:center;
}

aside:hover{
    width:25%;
    text-align:center;
}

aside:hover img{
    position:relative;
    left:5px;
}

.Asidebilder{
    width:35%;
    height:auto;
    position:relative;
    left:133px;
}

.Asideartikel{
    min-width:400px;
    height:auto;
}

.Asideartikel:hover{
    width:420px;
}

h1{
    font-family:"Segoe Print", "Lucida Handwriting", Arial;
    font-size:40pt;
    color:#add8e6;
    display: flex; 
    justify-content: center; 
}

main{
    float:right;
    width:70%;
}

main > div:nth-child(5n+1){
    clear:left;
}

.Box{

    font-family:"Segoe Print", "Lucida Handwriting", Arial;
    width:23%;
    height:410px;
    background-color:#ffc0cb;
    color:#b200b2;
    float:left;
    margin:10px;
    padding:7px;
    font-size:12pt;
    overflow: scroll;
}

.Boxbild{
    width:20%;
    height:400px;
    background-color:#add8e6;
    float:left;
    margin:10px;
    padding:1%;
}

img{
    position:relative;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items:center;
}

.Button{
   text-align:center;
}

button{ 
    font-size:15pt;
    background-color:#add8e6;
    color:#b300b3;
    border-radius:10px;
}

button:hover{
    color:#ffc0cb;
} 

footer{
    font-family:"Lucida Handwriting","Bradley Hand ITC", Arial;
    font-size:30pt;
    width:100%;
    font-family:serif;
    position:relative;
    margin-top:1350px;
    margin-left:12px;
    border-top-style:dotted;
    border-top-color:#b300b3;
    border-top-width:10px;
    background-color:#ffc0cb;
    padding:10pt;
    right:20px;
}

.Jacky{
    font-family:"Lucida Handwriting","Bradley Hand ITC", Arial;
    font-size:30pt;
    color:#b300b3;
}